<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-pagelines"></span> PRODUCT</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="product-vegetables.html">Vegetables</a>

                                    </li>
                                    <li><span></span><a href="product-fruits.html">Fruits</a></li>
                                    <li><span></span><a href="product-cereals.html">Cereals</a></li>
                                    <li><span></span><a href="product-beans.html">Beans</a></li>
                                    <li><span></span><a href="product-nuts-seeds.html">Nuts & Seeds</a></li>
                                    <li><span></span><a href="product-spices.html">Spices</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- Product -->
                <div id="product">
                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-6">
                            <!-- product-imge-->
                            <div class="product-image">
                                <div class="product-full">
                                    <img id="product-zoom" src="images/product-detail/fruits/papaya_600x600.jpg"
                                         data-zoom-image="images/product-detail/fruits/papaya_600x600.jpg"/>
                                </div>
                                <div class="product-img-thumb" id="gallery_01">
                                    <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false"
                                        data-margin="20" data-loop="true">
                                        <li>
                                            <a href="#"
                                               data-image="images/product-detail/fruits/papaya_600x600.jpg"
                                               data-zoom-image="images/product-detail/fruits/papaya_600x600.jpg">
                                                <img id="product-zoom"
                                                     src="images/product-detail/fruits/papaya_300x300.jpg"/>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <!-- product-imge-->
                        </div>
                        <div class="pb-right-column col-xs-12 col-sm-6">
                            <h1 class="product-name">Papaya</h1>

                            <div class="product-price-group">
                                 <span class="price product-price"><span
                                         style="color: black">Best Price:</span> 10,500</span>
                                <span style="font-weight: bold">Price: </span><span class="old-price">15,000</span>
                                <span class="discount">-30%</span>
                            </div>
                            <div class="info-orther">
                                <p>Product Code: #PP987</p>

                                <p>Status: <span class="in-stock">In Stock</span></p>

                            </div>
                            <div class="product-desc">
                                This article is about Carica papaya, the widely cultivated papaya (also called papaw or
                                pawpaw), a tropical fruit tree. For the mountain papaya (Vasconcellea pubescens) of
                                South America, see Mountain papaya
                            </div>
                            <div class="form-option">

                                <div class="attributes">
                                    <div class="attribute-label">Quality:</div>
                                    <div class="attribute-list product-qty">
                                        <div class="qty">
                                            <input id="option-product-qty" type="text" value="1">
                                        </div>
                                        <div class="btn-plus">
                                            <a href="#" class="btn-plus-up">
                                                <i class="fa fa-caret-up"></i>
                                            </a>
                                            <a href="#" class="btn-plus-down">
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <div class="button-group">
                                    <a class="add-item-to-cart btn-add-cart" title="Add to Cart" href="#"
                                       data-name="Papaya - 1kg"
                                       data-price="10500" data-image="fruits/papaya_300x300.jpg"
                                       data-product-code="PP987">Add to Cart</a>
                                </div>
                                <div class="button-group">
                                    <a class="wishlist" href="#"><i class="fa fa-heart-o"></i>
                                        <br>Heart</a>
                                    <a class="compare" href="#"><i class="fa fa-signal"></i>
                                        <br>
                                        Compare</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- tab product -->
                    <div class="product-tab">
                        <ul class="nav-tab" style="margin-bottom: 0px;">
                            <li class="active">
                                <a aria-expanded="false" data-toggle="tab" href="#product-detail">Detail</a>
                            </li>
                            <li>
                                <a aria-expanded="true" data-toggle="tab" href="#comment">Comment</a>
                            </li>

                        </ul>
                        <div class="tab-container">
                            <div id="product-detail" class="tab-panel active">
                                <p>This article is about Carica papaya, the widely cultivated papaya (also called papaw
                                    or pawpaw), a tropical fruit tree. For the mountain papaya (Vasconcellea pubescens)
                                    of South America, see Mountain papaya. For the Eastern North American tree (and
                                    fruit) called "pawpaw", see Asimina triloba. For other uses, see Papaya
                                    (disambiguation).
                                    Not to be confused with Chaenomeles speciosa (flowering quince) or Pseudocydonia
                                    chinensis (Chinese quince), which like Carica papaya are sometimes called mugua.</p>
                            </div>
                            <div id="comment" class="tab-panel">
                                <div class="fb-comments" data-href="https://www.facebook.com/hungdng.92"
                                     data-width="100%" data-numposts="5"></div>
                            </div>
                        </div>
                    </div>
                    <!-- ./tab product -->
                    <!-- box product -->
                    <div class="page-product-box">
                        <h2 class="page-heading">
                            <span class="page-heading-title"> SIMILARITY PRODUCT</span>
                        </h2>
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                            data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                            data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a><img class="img-responsive" alt="product"
                                                src="images/product-detail/vegetables/broccoli_300x300.jpg"/></a>

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view"
                                               href="images/product-detail/vegetables/broccoli_600x600.jpg"
                                               class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Cart" href="#"
                                               data-name="Broccoli - 1kg"
                                               data-price="85000" data-image="broccoli_300x300.jpg"
                                               data-product-code="BC109">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Broccoli - 1kg</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price"><span style="color: black">Price:</span> 85,000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a><img class="img-responsive" alt="product"
                                                src="images/product-detail/vegetables/cucumber_300x300.jpg"/></a>

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view"
                                               href="images/product-detail/vegetables/cucumber_600x600.jpg"
                                               class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Cart" href="#"
                                               data-name="Cucumber - 1kg"
                                               data-price="25000" data-image="cucumber_300x300.jpg"
                                               data-product-code="CC109">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Cucumber - 1kg</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price"><span style="color: black">Price:</span> 25,000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a><img class="img-responsive" alt="product"
                                                src="images/product-detail/vegetables/potato_300x300.jpg"/></a>

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view"
                                               href="images/product-detail/vegetables/potato_600x600.jpg"
                                               class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Cart" href="#"
                                               data-name="Potatos - 1kg"
                                               data-price="55000" data-image="potato_300x300.jpg"
                                               data-product-code="GPL109">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Potatos - 1kg</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price"><span style="color: black">Price:</span> 55,000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a><img class="img-responsive" alt="product"
                                                src="images/product-detail/vegetables/sweetpotato_300x300.jpg"/></a>

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view"
                                               href="images/product-detail/vegetables/sweetpotato_600x600.jpg"
                                               class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Cart" href="#"
                                               data-name="Sweet Potatos - 1kg"
                                               data-price="22000" data-image="sweetpotato_300x300.jpg""
                                            data-product-code="SWP109">Add to Cart</a>
                                        </div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Sweet Potatos - 1kg</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price"><span style="color: black">Price:</span> 22,000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="left-block">
                                    <a><img class="img-responsive" alt="product"
                                            src="images/product-detail/vegetables/pokchoy_300x300.jpg"/></a>

                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        <a title="Add to compare" class="compare" href="#"></a>
                                        <a title="Quick view"
                                           href="images/product-detail/vegetables/pokchoy_600x600.jpg"
                                           class="search fancybox-button"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-item-to-cart" title="Add to Cart" href="#"
                                           data-name="Pokchoy - 1kg"
                                           data-price="55000" data-image="pokchoy_300x300.jpg"
                                           data-product-code="PC109">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="right-block">
                                    <h5 class="product-name"><a href="#">Pokchoy - 1kg</a></h5>

                                    <div class="content_price">
                                        <span class="price product-price"><span style="color: black">Price:</span> 55,000đ</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- ./box product -->
                    <!-- box product -->
                    <div class="page-product-box">
                        <h2 class="page-heading">
                            <span class="page-heading-title">Best Seller</span>
                        </h2>
                        <ul class="product-list owl-carousel" data-dots="false" data-loop="true" data-nav="true"
                            data-margin="30" data-autoplayTimeout="1000" data-autoplayHoverPause="true"
                            data-responsive='{"0":{"items":1},"600":{"items":3},"1000":{"items":3}}'>
                            <li>
                                <div class="left-block">
                                    <a><img class="img-responsive" alt="product"
                                            src="images/product-detail/vegetables/spinach_300x300.jpg"/></a>

                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        <a title="Add to compare" class="compare" href="#"></a>
                                        <a title="Quick view"
                                           href="images/product-detail/vegetables/spinach_600x600.jpg"
                                           class="search fancybox-button"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-item-to-cart" title="Add to Cart" href="#"
                                           data-name="Spinach - 1kg"
                                           data-price="55000" data-image="spinach_300x300.jpg"
                                           data-product-code="SP109">Add to Cart</a>
                                    </div>
                                    <div class="bestseller"></div>
                                </div>
                                <div class="right-block">
                                    <h5 class="product-name"><a href="#">Spinach - 1kg</a></h5>

                                    <div class="content_price">
                                        <span class="price product-price"><span style="color: black">Price:</span> 55,000đ</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a><img class="img-responsive" alt="product"
                                                src="images/product-detail/fruits/avocado_300x300.jpg"/></a>

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view"
                                               href="images/product-detail/fruits/avocado_600x600.jpg"
                                               class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Cart" href="#"
                                               data-name="Avocado - 1kg"
                                               data-price="52000" data-image="avocado_300x300.jpg"
                                               data-product-code="AC042">Add to Cart</a>
                                        </div>
                                        <div class="bestseller"></div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">Avocado - 1kg</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price"><span style="color: black">Price:</span> 52,000</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="product-container">
                                    <div class="left-block">
                                        <a><img class="img-responsive" alt="product"
                                                src="images/product-detail/cereals/ricewhite_300x300.jpg"/></a>

                                        <div class="quick-view">
                                            <a title="Add to my wishlist" class="heart" href="#"></a>
                                            <a title="Add to compare" class="compare" href="#"></a>
                                            <a title="Quick view"
                                               href="images/product-detail/cereals/ricewhite_600x600.jpg"
                                               class="search fancybox-button"></a>
                                        </div>
                                        <div class="add-to-cart">
                                            <a class="add-item-to-cart" title="Add to Cart" href="#"
                                               data-name="White Rice - 1kg"
                                               data-price="25000" data-image="ricewhite_300x300.jpg"
                                               data-product-code="WR109">Add to Cart</a>
                                        </div>
                                        <div class="bestseller"></div>
                                    </div>
                                    <div class="right-block">
                                        <h5 class="product-name"><a href="#">White Rice - 1kg</a></h5>

                                        <div class="content_price">
                                            <span class="price product-price"><span style="color: black">Price:</span> 25,000đ</span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="left-block">
                                    <a><img class="img-responsive" alt="product"
                                            src="images/product-detail/beans/soybeans_300x300.jpg"/></a>

                                    <div class="quick-view">
                                        <a title="Add to my wishlist" class="heart" href="#"></a>
                                        <a title="Add to compare" class="compare" href="#"></a>
                                        <a title="Quick view" href="images/product-detail/beans/soybeans_300x300.jpg"
                                           class="search fancybox-button"></a>
                                    </div>
                                    <div class="add-to-cart">
                                        <a class="add-item-to-cart" title="Add to Cart" href="#"
                                           data-name="Soy Beans - 1kg"
                                           data-price="60000" data-image="soybeans_300x300.jpg"
                                           data-product-code="SBD042">Add to Cart</a>
                                    </div>
                                    <div class="bestseller"></div>
                                </div>
                                <div class="right-block">
                                    <h5 class="product-name"><a href="#">Soy Beans - 1kg</a></h5>

                                    <div class="content_price">
                                        <span class="price product-price"><span style="color: black">Price:</span> 60,000</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- ./box product -->
                </div>
                <!-- Product -->
            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>

<!--EN LOGIN REGISTER-->

<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<div class="demo_changer" id="demo_changer">
    <div class="demo-icon fa fa-shopping-cart">
        <span class="notify notify-left" id="count-cart">2</span>
    </div>
    <div class="form_holder">
        <div class="cart-block">
            <div class="cart-block-content">
                <div class="cart-block-list">
                    <div class="shop_cart">
                        <table class="shop_table">
                            <tbody id="show-cart">
                            <!--/////////////////////////////////-->

                            </tbody>    
                        </table>
                    </div>

                </div>
                <div class="toal-cart">
                    <span>Total</span>
                    <span class="toal-price pull-right" id="total_price">54,000đ</span>
                </div>
                <div class="cart-buttons">
                    <a href="shoping-cart.html" class="btn-check-out">Payment</a>
                </div>
            </div>
        </div>
    </div>
</div>