<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <!-- Left colunm -->
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-list"></span> CATEGORIES</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    <li class="active">
                                        <span></span><a href="#">Health</a>

                                    </li>
                                    <li><span></span><a href="#">Food</a></li>
                                    <li><span></span><a href="#">Science & Tech</a></li>
                                    <li><span></span><a href="#">Agricultural</a></li>
                                    <li><span></span><a href="#">Business</a></li>
                                    <li><span></span><a href="#">Life</a></li>
                                    <li><span></span><a href="#">Entertainment</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
                <!-- ./block category  -->
                <!-- block video -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-video-camera"></span>  VIDEOS</p>

                    <div class="block_content">
                        <iframe width="255" height="300" src="https://www.youtube.com/embed/oFuC0URYKqU" frameborder="0"
                                allowfullscreen=""></iframe>
                    </div>
                </div>
                <!-- ./block video  -->

                <!-- block image -->
                <div class="block left-module">
                   <p class="title_block"><span class="fa fa-camera"></span>  GALLERIES</p>
                    <div class="block_content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="box-right">
                                    <ul class="product-list">
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/news1_300x300.jpg"/></a>
                                                <div class="quick-view">
                                                    <a title="Zoom In" href="images/news/news1.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"style="border-radius: 15%"
                                                        src="images/news/news2_300x300.jpg"/></a>
                                                <div class="quick-view">
                                                    <a title="Zoom In" href="images/news/news2.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product"
                                                        src="images/news/news3_300x300.jpg"/></a>
                                                <div class="quick-view">
                                                    <a title="Zoom In" href="images/news/news3.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/news4_300x300.jpg"/></a>
                                                <div class="quick-view">
                                                    <a title="Zoom In" href="images/news/news4.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/news5_300x300.jpg"/></a>
                                                <div class="quick-view">
                                                    <a title="Zoom In" href="images/news/news5.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="col-sm-6">
                                            <div class="left-block" style="padding: 5px 5px 5px 5px">
                                                <a><img class="img-responsive" alt="product" style="border-radius: 15%"
                                                        src="images/news/news6_300x300.jpg"/></a>
                                                <div class="quick-view">
                                                    <a title="Zoom In" href="images/news/news6.jpg" class="search fancybox-button"></a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- ./block image  -->
            </div>

            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- page heading-->
                <div class="page-heading">
                    <h2>
                        <span class="page-heading-title"><span class="fa fa-paperclip"></span> How Coconut Oil May Rescue The Brain From Alzheimer’s Disease  </span>
                    </h2>
                </div>

                <div class="entry-meta-data" style="float: right; padding-top: 10px; padding-bottom: 10px">
                                            <span class="author">
                                            <i class="fa fa-user"></i>
                                            by: <a href="#"> Sayer Ji</a></span>
                    <span class="date"><i class="fa fa-calendar"></i> August 4, 2016 AT 1:30 PM </span>
                </div>

                <div style="padding-top: 50px">
                    <p style="text-align: justify">All the more reason to celebrate a promising new study soon to be published in the Journal of Alzheimer’s Disease titled, “Coconut Oil Attenuates the Effects of Amyloid-β on Cortical Neurons In Vitro.”  The study lends fresh experimental support to an accumulating body of anecdotal reports that coconut oil may alleviate and/or regress cognitive deficits associated with aging and neurodegenerative diseases such as Alzheimer’s disease and Parkinson’s.</p>
                    <div style="text-align: center"><img src="images/news/news7.jpg" style="width: 60%;"></div>
                    <p style="text-align: justify; padding-top: 10px">Medical researchers from the Memorial University of Newfoundland, St. John’s, NL, Canada, undertook a pilot study to investigate the effects of coconut oil supplementation directly on cortical neurons treated with amyloid-β (Aβ) peptide in vitro.  Aβ peptide is the main component of certain deposits found in the brains of patients with Alzheimer’s disease believed to contribute to the disease.</p>
                    <p style="text-align: justify">The researchers noted that a recent clinical trial reported significant improvements in Alzheimer’s disease patients after 45 and 90 days of treatment with medium chain triglycerides from coconut oil.  They pointed out that this trial led to the marketing of the FDA-approved ‘medical food’ caprylidene (trade name Axona), but that the public has shown greater interest in coconut oil itself as a potential therapy, owing to its far greater affordability and availability.</p>
                    <p style="text-align: justify">The researchers sought to test the hypothesis that coconut oil is beneficial for neurodegenerative conditions using a cell model.  Live rat neurons were exposed to various combinations of Aβ peptide and coconut oil, with the result that Aβ peptide reduced survival of neurons and coconut protected against this Aβ-induced reduction in survival time.  The researchers noted that coconut treated Aβ cultured neurons appeared “healthier,” and that coconut oil “rescued” Aβ-treated neurons from mitochondrial damage caused by their toxicity.  The researchers observed coconut oil preventing Aβ-induced changes in mitochondrial size and circularity. These findings have great significance, as mitochondria function is often compromised in the brains of Alzheimer’s disease patients.</p>
                    <p style="text-align: justify">According to the researchers, “The rationale for using coconut oil as a potential AD [Alzheimer’s Disease] therapy is related to the possibility that it could be metabolized to ketone bodies that would provide an alternative energy source for neurons, and thus compensate for mitochondrial dysfunction.”  The researchers proposed that ketone bodies formed as a byproduct of coconut oil metabolism may offset Aβ-induced impairment of mitochondrial function and thus energy metabolism.  Considering that the medium chain triglyceride found in coconut known as caprylic acid does cross the blood-brain barrier, and has recently been found to have anti-convulsant, in addition to, ketogenic effects, coconut oil likely does have a neuroprotective effect.</p>
                    <p style="text-align: justify">The researchers concluded, “The results of this pilot study provide a basis for further investigation of the effects of coconut oil, or its constituents, on neuronal survival focusing on mechanisms that may be involved.”</p>
                    <p style="text-align: justify">Clearly, one of the ways that coconut oil can ‘rescue’ the brains of Alzheimer’s patients is by addressing the metabolic derangement in the brain associated with the condition, or what is known as “type 3 diabetes.” As the brain ages, it becomes increasingly resistant to insulin, and therefore incapable of using glucose efficiently to meet its significant energy needs — hence the metaphor “type 3 diabetes.” Thankfully, nature has devised an alternative fuel source for the brain that is independent of glucose utilization and the insulin signaling system, namely, the use of ketone bodies.  Coconut oil provides the substrate for the immediate production of these ketone bodies, enabling significant quantities to be produced within a matter of only minutes following ingestion. This metabolic restoration of function may explain why remarkable recoveries in cognitive function and memory have been observed, anecdotally.</p>
                </div>



            </div>
            <!-- ./ Center colunm -->
        </div>
        <!-- ./row-->
    </div>
</div>